In [1]:
import postgis
import psycopg2
from postgis.psycopg import register
import pandas as pd
import numpy as np
from tqdm import tqdm
from geopy.geocoders import Nominatim

In [2]:
df = pd.read_csv("train_100k.csv")

In [3]:

conn = psycopg2.connect(dbname="umur", user="umur", password="umurssexygeodb", host="morpheus.hisarschool.k12.tr")
register(conn)

In [4]:
def get_neighbour(connection, lat, lon):
    cursor = conn.cursor()
    cursor.execute('SELECT neighborhood, wkb_geometry FROM umurtable WHERE ST_Contains(wkb_geometry, ST_SetSRID(ST_MakePoint({lon}, {lat}), 4326))'.format(lon=lon, lat=lat))
    conn.commit()
    return cursor.fetchone()[0]

In [5]:
def get_borough(connection, lat, lon):
    cursor = conn.cursor()
    cursor.execute('SELECT borough, wkb_geometry FROM umurtable WHERE ST_Contains(wkb_geometry, ST_SetSRID(ST_MakePoint({lon}, {lat}), 4326))'.format(lon=lon, lat=lat))
    conn.commit()
    return cursor.fetchone()[0]

In [6]:
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,0,2009-09-26 10:00:00.00000061,17.3,2009-09-26 10:00:00 UTC,-73.992270,40.694707,-73.978580,40.753823,6
1,1,2013-05-30 23:19:00.000000198,7.0,2013-05-30 23:19:00 UTC,-73.974095,40.783962,-73.951655,40.771982,5
2,2,2009-04-12 18:57:00.000000121,4.1,2009-04-12 18:57:00 UTC,-73.987312,40.768525,-73.989643,40.762507,1
3,3,2012-03-28 12:05:00.00000034,8.9,2012-03-28 12:05:00 UTC,-74.005063,40.748015,-74.004713,40.725563,4
4,4,2013-06-22 23:27:47.0000002,9.5,2013-06-22 23:27:47 UTC,-73.978311,40.745573,-73.989952,40.733327,3

In [8]:
get_neighbour(conn,lon=df.pickup_longitude[1],lat=df.pickup_latitude[1])

'Upper West Side'

In [7]:
get_borough(conn,lon=df.pickup_longitude[1],lat=df.pickup_latitude[1])

'Manhattan'

In [9]:
hood_pick=[]
for i in tqdm(range(len(df))):
    try:
        z = get_neighbour(conn,lon=df.pickup_longitude[i],lat=df.pickup_latitude[i])
        hood_pick.append(z)
    except TypeError:
        hood_pick.append("rip")
        pass

100%|██████████| 100000/100000 [26:20<00:00, 63.26it/s]

In [ ]:
boro_pick=[]
for i in tqdm(range(len(df))):
    try:
        z = get_borough(conn,lon=df.pickup_longitude[i],lat=df.pickup_latitude[i])
        boro_pick.append(z)
    except TypeError:
        boro_pick.append("rip")
        pass

In [ ]:
for i in tqdm(range(len(df))):
    try:
        z = get_neighbour(conn,lon=df.dropoff_longitude[i],lat=df.dropoff_latitude[i])
        hood_drop.append(z)
    except TypeError:
        hood_drop.append("rip")
        pass

In [ ]:
boro_drop = []
for i in tqdm(range(len(df))):
    try:
        z = get_borough(conn,lon=df.dropoff_longitude[i],lat=df.dropoff_latitude[i])
        boro_drop.append(z)
    except TypeError:
        boro_drop.append("rip")
        pass

In [ ]:
len(hood_drop)

In [ ]:
hood_pick=[]
for i in tqdm(range(len(df_lite))):
    try:
        z = get_neighbour(conn,lon=df.pickup_longitude[i],lat=df.pickup_latitude[i])
        hood_pick.append(z)
    except TypeError:
        hood_pick.append("rip")
        pass

In [ ]:
hood_pick

In [ ]:
df_lite = df[0:100].copy()

In [ ]:
df_lite.head()

In [10]:
ss = pd.Series(hood_pick)
df["hood_pick"] = ss

In [15]:
ss1 = pd.Series(hood_drop)
df['drop_hood'] = ss1

In [16]:
ss2 = pd.Series(boro_pick)
df['boro_pick'] = ss2

In [17]:
ss3 = pd.Series(boro_drop)
df['boro_drop'] = ss3

In [ ]:
se = pd.Series(lists)
df.column = se

In [18]:
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,hood_pick,drop_hood,boro_pick,boro_drop
0,0,2009-09-26 10:00:00.00000061,17.3,2009-09-26 10:00:00 UTC,-73.992270,40.694707,-73.978580,40.753823,6,Brooklyn Heights,Midtown,Brooklyn,Manhattan
1,1,2013-05-30 23:19:00.000000198,7.0,2013-05-30 23:19:00 UTC,-73.974095,40.783962,-73.951655,40.771982,5,Upper West Side,Upper East Side,Manhattan,Manhattan
2,2,2009-04-12 18:57:00.000000121,4.1,2009-04-12 18:57:00 UTC,-73.987312,40.768525,-73.989643,40.762507,1,Hell's Kitchen,Hell's Kitchen,Manhattan,Manhattan
3,3,2012-03-28 12:05:00.00000034,8.9,2012-03-28 12:05:00 UTC,-74.005063,40.748015,-74.004713,40.725563,4,Chelsea,SoHo,Manhattan,Manhattan
4,4,2013-06-22 23:27:47.0000002,9.5,2013-06-22 23:27:47 UTC,-73.978311,40.745573,-73.989952,40.733327,3,Kips Bay,East Village,Manhattan,Manhattan

In [ ]:
conn.close()

In [ ]:
df.hood_drop.count("rip")

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().any()

In [ ]:
df.reset_index(drop=True,inplace=True)

In [ ]:
df.info()

In [ ]:
boro_drop.append('rip')

In [ ]:
hood_drop.append('rip')

In [ ]:
df.to_csv("train_final.csv")

In [11]:
%store -r hood_drop

In [13]:
%store -r boro_pick

In [14]:
%store -r boro_drop

In [19]:
df.to_csv("train_10train.csv")