In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import scipy
from haversine import haversine

In [3]:
df=pd.read_csv("train.csv",nrows = 5_000_000)

In [4]:
df_new = df.sample(n=100000,random_state=5)

In [5]:
df_new.reset_index(drop=True,inplace=True)

In [6]:
df_new.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-09-26 10:00:00.00000061,17.3,2009-09-26 10:00:00 UTC,-73.992270,40.694707,-73.978580,40.753823,6
1,2013-05-30 23:19:00.000000198,7.0,2013-05-30 23:19:00 UTC,-73.974095,40.783962,-73.951655,40.771982,5
2,2009-04-12 18:57:00.000000121,4.1,2009-04-12 18:57:00 UTC,-73.987312,40.768525,-73.989643,40.762507,1
3,2012-03-28 12:05:00.00000034,8.9,2012-03-28 12:05:00 UTC,-74.005063,40.748015,-74.004713,40.725563,4
4,2013-06-22 23:27:47.0000002,9.5,2013-06-22 23:27:47 UTC,-73.978311,40.745573,-73.989952,40.733327,3

In [7]:
df_new.to_csv('train_100k.csv')